{% extends 'base_site.html' %}

{% block content %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">Youtube Downloader</h1>
      <div class="row center">
        <h5 class="header col s12 light" style="color: #ffff;">Paste your link below to download the video of your choosing.</h5>
      </div>
      <!-- Video Form -->
      <form action="{% url 'detail' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="video" placeholder="Your video link">
        <div class="row center" style="padding-top: 15px;">
          <button class="btn-large waves-effect waves-light red" type="submit" name="action">Download
            <i class="material-icons right">cloud_download</i>
          </button>
        </div>
      </form>
      <br><br>

      <!-- Video Info -->
        <div class="row center">
          <div class="col s2"></div>
          <div class="col s8 m8 center">
            <div class="card blue-grey darken-1" name="video-card">
              <div class="card-content white-text">
                <span class="card-title">{{ title.title }}</span>
                <img src="{{ thumbnail }}" style="width: 100%;">
              </div>
              <div class="card-action">
                {% for stream in streams %}
                  <a href="{{ stream.video_url }}" style="text-decoration: none;" download="{{ title }}.{{ extension }}" target="_blank" ><i class=" fa fa-download"></i>
                    <button class="btn-large waves-effect waves-light red" type="submit" name="action">{{ stream.resolution }}p
                      <i class="material-icons right">cloud_download</i>
                    </button>
                  </a>
                {% endfor %}
                  <a href="{{ stream_audio.url }}" style="text-decoration: none;" download="{{ stream_audio.title }}.{{ stream_audio.extension }}" target="_blank" ><i class=" fa fa-download"></i>
                    <button class="btn-large waves-effect waves-light red" type="submit" name="action">Audio
                      <i class="material-icons right">cloud_download</i>
                    </button>
                  </a>
              </div>
            </div>
            <div class="col s2"></div>
          </div>
        </div>
    </div>
  </div>
<br><br>


  <footer class="page-footer red">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="red-text text-lighten-3" href="https://github.com/Blademaster680">Blademaster680</a>
      </div>
    </div>
  </footer>
{% endblock content %}
