{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>YTDownloader - Blademaster680</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'frontend/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'frontend/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

    <body>
      <nav class="red lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{% url 'home' %}" class="brand-logo">YoutubeDownloader</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'home' %}">Home</a></li>
          </ul>

          <ul id="nav-mobile" class="sidenav">
            <li><a href="{% url 'home' %}">Home</a></li>
          </ul>
          <a href="{% url 'home' %}" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
      {% block content %}

      {% endblock content %}

    </div>
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="{% static 'frontend/js/materialize.js' %}"></script>
      <script src="{% static 'frontend/js/init.js' %}"></script>
  </body>
  </html>